<!DOCTYPE html>
<html lang="en">

<head>
    <title>Anime Navi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./vendor/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">    
        <h3>Updated at: {{.Time}}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Password</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>                
                {{range .Items}}
                <tr>
                    <td>{{.Name}}</td>
                    <td><img src="data:image/png;base64,{{passthrough .URL}}" /></td>
                    <td>{{.Password}}</td>
                    <td>{{.Created}}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <script type="text/javascript">    
                            var cpro_id = "u3204426";
                        </script>
                        <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
<div id="footer">    
    <div class="foot_under">
        <div class="clearfix">
            <h2>更多动漫尽在 <a href="http://ero-hotel.jp">ero-hotel.jp</a></h2>
        </div>
    </div>
</div>
</html>