<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?5cdae87297e47498c14571fd3a0036c7";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113889843-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113889843-1');
    </script>

    <title>动漫网盘资源</title>
    <meta name="Keywords" content="百度网盘资源、肉番、里番、后宫动漫" />
    <meta name="Keywords" content="这里分享各种最新动漫资源，网盘资源，包括肉番资源、里番资源、后宫动漫资源等。" />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./vendor/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">    
        <h2>更多动漫尽在 <a href="http://ero-hotel.jp">ero-hotel.jp</a></h2>
        <h3>Updated at: {{.Time}}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Password</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>                
                {{range .Items}}
                <tr>
                    <td>{{.Name}}</td>
                    <td><img src="data:image/png;base64,{{passthrough .URL}}" /></td>
                    <td>{{.Password}}</td>
                    <td>{{.Created}}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <script type="text/javascript">    
                            var cpro_id = "u3204426";
                        </script>
                        <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>    
</body>
<div id="footer">    
    <div class="foot_under">
        <div class="clearfix">
            <h2>更多动漫尽在 <a href="http://ero-hotel.jp">ero-hotel.jp</a></h2>
        </div>
    </div>
</div>
</html>