<!DOCTYPE html>
<html lang="en">

<head>
    <title>Anime Navi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./vendor/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h3 id="updatedtime"></h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Password</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>{{.Name}}</td>
                    <td><img src="data:image/png;base64,{{passthrough .URL}}" /></td>
                    <td>{{.Password}}</td>
                    <td>{{.Created}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
<div id="footer">    
    <div class="foot_under">
        <div class="clearfix">
            <h2>© <a href="http://www.ero-hotel.jp">ero-hotel.jp</a> All rights reserved.</h2>
        </div>
    </div>
</div>
<script>
    var date = new Date();
    document.getElementById('updatedtime').innerText ='Updated at: ' + date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
</script>
</html>